<%- include("partials/header", {title: title}) %>

<h2>Welcome</h2>
<div class="login">
    <div><a href="/auth/login">Sign in</a></div>
    <div><a href="/auth/register">Register</a></div>
</div>

<%- include('partials/footer') %>
