<%- include("partials/header", {title: title}) %>

<header class="p-4 bg-gray-800">
    <h1 class="text-2xl font-bold">Welcome</h1>
</header>
<main class="flex-grow flex flex-col justify-center items-center">
    <h2 class="text-3xl font-semibold mb-6">Welcome to Our Application!</h2>
    <div class="bg-gray-800 p-6 rounded-lg shadow-lg w-80 text-center">
        <p class="mb-4">Please choose an option to continue:</p>
        <div class="mb-4">
            <a
                href="/auth/login"
                class="bg-blue-600 hover:bg-blue-700 text-white p-2 rounded transition duration-300"
                >Sign In</a
            >
        </div>
        <div>
            <a
                href="/auth/register"
                class="bg-green-600 hover:bg-green-700 text-white p-2 rounded transition duration-300"
                >Register</a
            >
        </div>
    </div>
    <%- include('partials/footer') %>
</main>
