<%- include("partials/header", {title: title}) %>

<div class="bg-gray-800 p-6 rounded-lg shadow-lg w-96">
    <h2 class="text-xl font-semibold mb-4 text-center">Reset Your Password</h2>
    <% if (error) { %>
    <div class="bg-red-600 text-white p-2 rounded mb-4 text-center">
        <%= error %>
    </div>
    <% } %>
    <form
        id="resetPasswordForm"
        action="/auth/reset-password/<%= token %>"
        method="post"
    >
        <div class="mb-4">
            <label for="password" class="block text-gray-400 mb-2"
                >Password Baru:</label
            >
            <input
                type="password"
                name="password"
                id="password"
                class="w-full p-2 rounded bg-gray-700 border border-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
                required
            />
        </div>
        <div class="mb-4">
            <label for="confirmPassword" class="block text-gray-400 mb-2"
                >Konfirmasi Password:</label
            >
            <input
                type="password"
                name="confirmPassword"
                id="confirmPassword"
                class="w-full p-2 rounded bg-gray-700 border border-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
                required
            />
        </div>
        <div class="text-center">
            <button
                type="submit"
                class="bg-blue-600 hover:bg-blue-700 text-white p-2 rounded transition duration-300"
            >
                Reset Password
            </button>
        </div>
    </form>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const socket = io();

        socket.on("resetPasswordSuccess", function (message) {
            alert(message);
        });

        socket.on("resetPasswordError", function (error) {
            alert(error);
        });
    });
</script>
<%- include('partials/footer') %>
