<%- include("partials/header") %>

<form action="/auth/reset-password">
    <table>
        <tr>
            <td><label for=""></label></td>
        </tr>
    </table>
</form>

<%- include('partials/footer') %>